Applications
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
VirtualBox VMs
github.com
projects
.gem
.rbenv
.bundle
.rnd
.ssh
.dropbox
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.boot2docker/
.cache/
.config/
.erlang.cookie
.histfile
.ivy2/
.lesshst
.pgpass
.phantomjs/
.subversion/
.viminfo
.zcompdump
.vim/undo
.vim/.netrwhist
.pry_history
.npm
.vim-flavor
.berkshelf
.chef
.docker
.nvm
.vagrant.d
.gnupg/
.hex/
.jenv/
.m2/
.mix/
.node-gyp/
talks/
