[user]
    name = Justin Carter
    email = jcarter@starkandwayne.com
[core]
    excludesfile = ~/.global-gitignore
[init]
    templatedir = ~/.git_template
[alias]
    ctags = !.git/hooks/ctags
    dc = diff --cached
    a = add
    rm = remove
    co = checkout
    ci = commit
    amend = commit --amend
    b = branch -v
    a = add
    ap = add -p
[credential]
    helper = osxkeychain
[push]
	default = simple
